@import '../../styles/colors';

.main {
  font-family: 'Teko', sans-serif;
  color: $white;

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    height: 10rem;
    min-width: 25%;
    text-align: center;
    border-radius: 10px;
    margin-left: 1rem;
  }

  .parallax {
    margin-right: 15%;
  }

  .sticky {
    margin-left: 15%;
  }

  .blue {
    background-color: #5b65ad;
    color: white;
  }

  .offer {
    width: 40vw;
    height: 100%;
    margin-right: 10%;
    gap: 5px;

    li {
      font-family: 'Teko Light';
      font-size: 40px;
      color: $white;
      text-decoration: none;
      padding: 10px 0;
      text-overflow: clip;
      background-color: $luxury;
      opacity: 0.9;
      padding: 0 8px;
      margin: 36px 0;
      list-style-type: none;
    }
  }

  .info-section {
    span {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-weight: bold;
      font-size: 2em;
      margin-bottom: -80px;
      margin: 0;

      p {
        margin: 0;
        font-size: 5em;
      }
    }
  }

  .image-tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    img {
      width: 50vw;
      height: 50vh;
      height: auto;
      opacity: 1;
      cursor: pointer;
      object-fit: cover;

      &:hover {
        opacity: 0.7;
        transition: opacity 0.4s ease-in-out;
      }
    }
  }

  .call-to-action-buttons {
    &__container {
      margin-top: 30px;
      width: 100vw;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 30px;

      a {
        font-family: 'Teko Regular';
        display: flex;
        background-color: none;
        width: 50vw;
        font-size: 50px;
        align-items: center;
        justify-content: center;
        padding: 15px;
        cursor: pointer;
        letter-spacing: 2px;
        text-decoration: underline;
        transition: 0.7s ease-in-out;
        color: $white;

        &:hover {
          letter-spacing: 8px;
        }
      }
    }
  }

  .contact {
    font-family: 'Teko Bold';
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    font-size: 6em;
    width: 50vw;

    &__details {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 2em;

      span {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 1em;
        gap: 1em;

        a {
          text-decoration: none;
          font-size: 2em;
          color: $white;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .footer {
        color: $white;
        font-size: 0.5em;
        margin-top: 20px;

        padding: 10px;
        width: 100%;
      }
    }
  }
}
