@import '../../styles/colors';

.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
  color: #000;
  font-family: 'Teko', sans-serif;
  font-size: 25px;
  background-color: $luxury;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  display: block;
  width: 100%;
  z-index: 0;
}
