@import '../../styles/colors';

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50px;
  opacity: 0.4;
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  padding: 3px;
  background-color: $light-grey;
  z-index: 1900;

  &:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    background-color: $white;
  }
}
