@font-face {
  font-family: 'Teko Light';
  src: url('../public/fonts/Teko-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: 'Teko Regular';
  src: url('../public/fonts/Teko-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Teko Medium';
  src: url('../public/fonts/Teko-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: 'Teko Bold';
  src: url('../public/fonts/Teko-Bold.ttf');
  font-style: normal;
  font-weight: 800;
  font-display: block;
}
